/* Sticky footer styles
-------------------------------------------------- */

html{
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}
.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  /*Set the fixed heigh of the footer here */
}

/* Wrapper for page content to Push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

main > .container {
  padding: 60px 15px 0;
}

.footer {
  background-color: #f5f5f5;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}
